{% extends "base.html" %}
{% block content %}
    <!-- Left Column -->
    <div class="w3-twothird">
        <h1>Hello, <span class="small">{{user}}</span></h1> 
        <h3>Favorite URLs</h3>
        <table>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Created/Updated</th>
                <th>Page Title</th>
                <th>URL</th>
                <th>Tags</th>
            </tr>
        {% for link in favorite_urls %}
        <tr>
            <td>
                delete, edit
            </td>
            <td>{{link.category}}</td>
            <td>{{link.updated_at}}</td>
            <td>{{link.title}}</td>
            <td><a href="#{{link.url_hash}}">{{link.url_text}}</a></td>
            <td>{{link.tags}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <!-- Right Column -->
    <div class="w3-third">
        <form class="w3-border w3-container" action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
              <input class="w3-input w3-button w3-round-large w3-red" type="submit" value="Logout" />
        </form>
        <form class="w3-border w3-container w3-input" action="{% url 'fav' %}" method="post">
            Create New Favorite URL
            {% csrf_token %} 
            <input class="w3-input w3-button w3-round-large w3-green" type="submit" value="Add URL" />
              {{add_link_form.as_table}}
          </form>
        <form class="w3-border w3-container" action="/" method="post">
            Manage My Account
            {% csrf_token %}
            {{user_profile_form.as_ul}}
            <input class="w3-input w3-button w3-green" type="submit" value="Update" />
        </form>
    </div>
{% endblock %}